<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>推荐管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="element/index.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
</head>
<body>
  <div id="app">
    <main class="recommend">
      <!-- 查询条件 -->
      <!-- <section class="query-box">
        <section class="query-criteria">

          <div class="query-input">
            <span>名称:</span>
            <el-input
              placeholder="请输入内容名称"
              v-model="query.name"
              clearable>
            </el-input>
          </div>

          <div class="query-input">
            <span>ID:</span>
            <el-input
              placeholder="请输入内容ID"
              v-model="query.id"
              clearable>
            </el-input>
          </div>

          <div class="query-input">
            <span>类型:</span>
            <el-select v-model="query.type" placeholder="请选择">
              <el-option
                v-for="item in query.types"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </div>

          <div class="query-input">
            <span>时间:</span>
            <el-date-picker
              v-model="query.date"
              type="date"
              :picker-options="timeOptions"
              placeholder="选择日期">
            </el-date-picker>
          </div>

          <div class="query-input">
            <span>版本:</span>
            <el-select v-model="query.version" placeholder="请选择">
              <el-option
                v-for="item in query.versions"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </div>

          <div class="query-input">
            <span>版块:</span>
            <el-select v-model="query.block" placeholder="请选择">
              <el-option
                v-for="item in query.blocks"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </div>

          <div class="query-input">
            <span>测试环境:</span>
            <el-select v-model="query.isTest" placeholder="请选择">
              <el-option
                v-for="item in boolean"
                :key="item.key"
                :label="item.name"
                :value="item.key">
              </el-option>
            </el-select>
          </div>

        </section>

        <section class="query-submit">
          <el-button type="primary" @click="querySubmit">查询</el-button>
        </section>
      </section> -->
      <section class="recommend-item special-channel">

        <section class="tab-title">
          <div class="item-name">
            <p class="title">特色频道</p>
            <span class="total">共{{special.total}}条数据</span>
          </div>
          <section class="item-query">
            <div class="query-input">
              <span>时间:</span>
              <el-date-picker
                v-model="special.query.date"
                type="date"
                :picker-options="timeOptions"
                placeholder="选择日期">
              </el-date-picker>
            </div>

            <div class="query-input">
              <span>版本:</span>
              <el-select v-model="special.query.version" placeholder="请选择">
                <el-option
                  v-for="item in query.versions"
                  :key="item"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>

            <!-- 特色频道添加弹窗 -->
            <div class="query-submit">
              <el-button type="primary" v-popover:popover1>
                添加
                <i class="el-icon-caret-bottom" :class="[special.addSelect ? 'rotate180' : '']"></i>
              </el-button>
              <el-popover
                ref="popover1"
                placement="bottom"
                width="80"
                v-model="special.addSelect"
              >
                <div class="add-list">
                  <p v-for="item in special.addList" :key="item.type" @click="adding('special', item.type)">{{item.name}}</p>
                </div>
              </el-popover>
            </div>
          </section>
        </section>

        <!-- 特色频道表格展示 -->
        <section class="tab-table">
          <el-table
            :data="special.list"
            style="width: 100%"
            v-loading="special.loading"
          >
            <el-table-column
              prop="weight"
              label="权重值"
              width="100">
              <template slot-scope="scope">
                <p v-if="special.edit.isWeight && special.edit.id === scope.row.id" class="edit-weight">
                  <el-input-number :min="0" v-model="weight" ref="weight" size="small" placeholder="权重值" controls-position="right" @keyup.enter.native="endWeight('special')" @blur="endWeight('special')"></el-input-number>
                </p>
                <p v-else>
                  <span>{{scope.row.weight}}</span>
                  <span class="edit-weight-icon" @click="editWeight('special', scope.row)"><i class="el-icon-edit"></i></span>
                </p>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="90">
            </el-table-column>
            <el-table-column
              prop="img"
              label="封面"
              width="90">
              <template slot-scope="scope">
                <img :src="scope.row.img" alt="封面图" class="img-cover">
              </template>
            </el-table-column>
            <el-table-column
              prop="name"
              label="名称"
              width="180">
            </el-table-column>
            <el-table-column
              prop="status"
              label="状态"
              width="120">
              <template slot-scope="scope">
                <span v-if="scope.row.status === 1">已上线</span>
                <div v-else class="no-online">
                  <span>未上线</span>
                  <span>{{scope.row.onlineDate}}</span>
                  <span>{{scope.row.onlineTime}}</span>                  
                </div>    
              </template>
            </el-table-column>
            <el-table-column
              prop="type"
              label="类型"
              width="80">
              <template slot-scope="scope">
                  {{scope.row.type === 'channel' ? '频道' : '广告'}}
                </template>
            </el-table-column>
            <el-table-column
              prop="sounds"
              label="新增回声"
              width="100">
            </el-table-column>
            <el-table-column
              prop="isStage"
              label="测试环境"
              width="100">
              <template slot-scope="scope">
                {{scope.row.isStage ? '是' : '否'}}
              </template>
            </el-table-column>
            <el-table-column
              label="操作"
              width="140">
              <template slot-scope="scope">
                <p class="item-control">
                  <span @click="adding('special', scope.row.type, scope.row)">编辑</span>
                  <span @click="remove('special', scope.row)">移除</span>
                </p>
              </template>
            </el-table-column>
          </el-table>
        </section>

        <!-- 添加子项的弹框 -->
        <el-dialog :visible.sync="special.edit.adding" @close="specialClose">
          <section slot="title" class="add-title">
            <p v-if="special.edit.type === 'channel'">
              <span>{{special.edit.editing ? '编辑' : '添加'}}</span>特色频道
            </p>
            <p v-if="special.edit.type === 'advertisement'">添加广告</p>            
          </section>      
          <section class="add-content" v-if="special.edit.type === 'channel'">
            <!-- 搜索频道 -->
            <div class="search-channel">
              <div class="add-input search">
                <span class="need">频道ID: </span>
                <el-input
                  type="number"
                  min="0"
                  placeholder="输入频道ID进行搜索"
                  @keyup.enter.native="chooseChannel('special', 'channel')"
                  v-model.trim="special.edit.addObj.channel.id">
                </el-input>
                <i class="el-input__icon el-icon-search" @click="chooseChannel('special', 'channel')"></i>                
              </div>
            </div>
            <section class="add-form">
              <div class="add-left">
                <!-- 搜索完成展示框 -->
                <div class="search-content" v-loading="searchChannel.searchStatus === 1">
                  <section v-if="searchChannel.id">
                    <div class="add-input">
                      <span>名称:</span>
                      <p>{{searchChannel.name}}</p>
                    </div>
                    <div class="add-input describe">
                      <span>描述:</span>
                      <p class="describe-text">{{searchChannel.describe}}</p>
                    </div>
                  </section>
                  <section class="search-waiting" v-else>
                    <p v-if="searchChannel.searchStatus === 0">请先搜索频道, 获取频道信息</p>
                    <p v-if="searchChannel.searchStatus === 1">搜索中..</p>
                    <p v-if="searchChannel.searchStatus === 3">频道不存在, 请尝试输入其他频道id进行搜索</p>                    
                  </section>
                </div>
                
                <!-- 用户可以填写的 -->
                <div class="add-input">
                  <span class="need">版本:</span>
                  <el-select v-model="special.edit.addObj.channel.version" placeholder="请选择">
                    <el-option
                      v-for="item in query.versions"
                      :key="item"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                </div>

                <div class="add-input">
                  <span class="need">测试环境:</span>
                  <el-select v-model="special.edit.addObj.channel.isStage" placeholder="请选择">
                    <el-option
                      v-for="item in query.boolean"
                      :key="item.key"
                      :label="item.name"
                      :value="item.key">
                    </el-option>
                  </el-select>
                </div>

                <div class="add-input">
                  <span class="need">时间:</span>
                  <el-date-picker
                    v-model="special.edit.addObj.channel.online"
                    type="datetime"
                    :picker-options="timeOptions"
                    placeholder="选择日期">
                  </el-date-picker>
                </div>

                <div class="add-input">
                  <span>权重值: </span>
                  <el-input
                    type="number"
                    min="0"
                    placeholder="请输入权重值"
                    v-model.trim="special.edit.addObj.channel.weight">
                  </el-input>              
                </div>

              </div>
              <div class="add-right">
                <img :src="searchChannel.img" alt="searchChannel.name" v-if="searchChannel.id">
              </div>
            </section>
          </section>
          <section class="add-content" v-if="special.edit.type === 'advertisement'">    
            广告添加区域        
          </section>
          <section class="add-footer">
            <el-button type="primary" size="small" :loading="special.edit.loading" @click="addSpecialItem('channel')">
                {{special.edit.editing ? '保存' : '添加'}}
            </el-button>
            <el-button type="info" size="small" @click="cancelModel('special')">取消</el-button>
          </section>
        </el-dialog>
      </section>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="element/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="http://momentjs.cn/downloads/moment.js"></script>
  <script src="index.js"></script>
</body>
</html>